/**
 * @file
 * Styles for debug.
 */

div.dbg-tag {
  margin: 15px auto;
  max-width: 980px;
  padding-bottom: 15px;
}

div.dbg-tag:not(.tag-_none) {
  background-color: #f0f8ff;
  border: 1px solid #d6dee5;
}

div.dbg-tag div.tag-name {
  background: #dae7ff;
  border-bottom: 1px solid #d6dee5;
  font-weight: bold;
  padding: 5px;
}

div.debug-information {
  max-width: 960px;
  margin: 0 auto;
  font-size: 12px;
  font-family: arial, serif;
}

div.debug-information:not(:first-child) {
  margin-top: 20px;
}

div.debug-information:not(:last-child) {
  margin-bottom: 10px;
}

div.debug-information div.container {
  margin: initial;
  max-width: initial;
  padding: initial;
}

div.debug-information > div.container {
  background-color: rgba(208, 232, 255, 0.5);
  box-shadow: 0 0 10px 0;
  -webkit-box-shadow: 0 0 10px 0;
}

div.debug-information div.container div.inner {
  background-color: #8bc5ff;
  border-left: 2px solid #1166bb;
  cursor: pointer;
  padding: 5px 2px;
  margin-top: 2px;
}

div.debug-information div.container div.inner:hover {
  background-color: #ddd !important;
}

div.debug-information div.container.no-children div.inner {
  background-color: #d0e8ff;
  cursor: default;
}

div.debug-information div.container span.visibility {
  font-weight: bold;
}

div.debug-information div.container.visibility-private span.visibility {
  color: #5f0000;
}

div.debug-information div.container.visibility-protected span.visibility {
  color: #5f3f18;
}

div.debug-information div.container.visibility-public span.visibility {
  color: #265f26;
}

div.debug-information div.container.private .no-children div.inner {
  background-color: #ffd2d2 !important;
}

div.debug-information div.container div.inner span.name {
  font-weight: bold;
}

div.debug-information div.container div.inner span.type {
  font-style: italic;
}

div.debug-information div.container div.inner span.method-name {
  font-weight: bold;
}

div.debug-information div.container div.inner div.value.long-string {
  white-space: pre-wrap;
}

div.debug-information div.container.child,
div.debug-information > div.container > div.container {
  margin-left: 20px;
}

div.debug-information div.child,
div.debug-information > div.container > div.container {
  display: none;
}

div.debug-information span.infinite {
  line-height: 12px;
  font-size: 36px;
  vertical-align: middle;
}

div.debug-information pre {
  background: transparent;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin: 0;
  padding: 0;
}
